@model Siminics.Model.SlideModel
@{
    ViewBag.Title = "添加幻灯片";
    Layout = "~/Views/Shared/_Manage_Frame.cshtml";
}

@section RenderCss
{
    <link href="/Plugs/uploadify/uploadify.css" rel="stylesheet" />
}

@section RenderJs
{
    <script src="/Scripts/jquery.form.js"></script>
    <script src="/Plugs/uploadify/jquery.uploadify.min.js"></script>
    <script src="/Scripts/upload.js"></script>
}

<div class="body_center">
    <!--   内容-->
    <div class="page_ubox">
        @using (Html.BeginForm("Add", "Slide", FormMethod.Post, new { @id = "form1" }))
        {
            @Html.ValidationSummary(true)
            <div class="tab_titles">幻灯片位置：</div>
            <div class="tab_infoss">
                @Html.DropDownListFor(model => model.position, (List<SelectListItem>)ViewBag.PositionTypes, new { @class = "inputbox" })
                <small>*@Html.ValidationMessageFor(m => m.position)</small>
            </div>
            <div class="clear"></div>
            <div class="tab_titles">幻灯片：</div>
            <div class="tab_infoss">
                <div id="ImageControl" style="float: left">
                    <input type="file" id="singleImg_upload" />
                    @Html.Raw(ViewBag.Images)
                    @Html.HiddenFor(model => model.ImageHtml, new { @id = "hidImageHtml" })
                    @Html.HiddenFor(model => model.imageurl, new { @id = "hidPath" })
                </div>
                <small>*</small>
            </div>
            <div class="clear"></div>
            <div class="tab_titles">排序序号：</div>
            <div class="tab_infoss">
                @Html.TextBoxFor(model => model.Sort, new { @class = "inputbox", size = 50, maxlength = 2 })
            </div>
            <div class="clear"></div>
            <div class="tab_titles">标题：</div>
            <div class="tab_infoss">
                @Html.TextBoxFor(model => model.name, new { @class = "inputbox", size = 50, maxlength = 40 })
            </div>
            <div class="clear"></div>
            <div class="tab_titles">链接：</div>
            <div class="tab_infoss">
                @Html.TextBoxFor(model => model.link, new { @class = "inputbox", size = 50, maxlength = 40 })
            </div>
            <div class="clear"></div>
            <p>
                <input class="submit_b" type="submit" value="提交保存" />
            </p>
        }
    </div>
</div>



