@using BaseLibrary.Common
@using Cee.Tools
@using Cee.Tools.Types
@using Siminics.Model
@{
    ViewBag.Title = "产品管理";
    Layout = "~/Views/Shared/_Manage_Frame.cshtml";
    List<SelectListItem> products = ViewBag.Products;
}
@section RenderJs
{
    <script src="/Scripts/index.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#search_list').click(function () {
                getUrl();
            });
        });
        function getUrl() {
            var _filter = $('#s_filter').val();
            var _text = $("#s_text").val();
            if (_text == "型号名称")
                _text = "";
            urlRedirect({ s_filter: _filter, s_text: _text });
        };
    </script>
}

<div class="body_center">
    <div class="select_condition">
        产品类型：
        <select id="s_filter" >
            @{
                foreach (var item in products)
                {
                    <option value="@item.Value" @(item.Selected?"selected='selected'":"")>@item.Text</option>
                }
            }
        </select>
        <input type="text" id="s_text" value="@ViewBag.Text" tip="型号名称" class="long" style="width: 200px;"/>
        <input class="btn" id="search_list" type="button" />
    </div>
    <div class="handle">
        @Html.RouteLink("添加",new {controller="Product",action="Add"},new{@class="create"})
    </div>
    <div class="clear"></div>
    <!--列表-->
    <div class="tablelist">
        <table width="100%" border="0">
            <tr class="title">
                <td width="">产品名称</td>
                <td width="">产品型号</td>
                <td width="140">排序</td>
                <td width="110">操作</td>
            </tr>
            @foreach (ProductModelEntity info in ViewBag.Info)
            {
                <tr>
                    <td>@info.modelname</td>
                    <td>@info.productname</td>
                    <td>@info.sort</td>
                    <td class="tright">
                        <div class="t_position">
                            <div class="r_pull_down">
                                <ul>
                                    <li>
                                      
                                        <a href="/Manage/Product/Edit?id=@info.ModelId">编辑</a>
                                    <a href="javascript:void(0);" ref="ShowRoleDown">
                                        <img src="/Content/images/arrow_down.png" width="14" height="14" />
                                    </a><div class="clear"></div>
                                </li>
                                <li>
                                    <a href="/Manage/Product/Delete?id=@info.ModelId">删除</a>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                    @*<td class="tleft">
                        <div class="pbox">
                            @if(!string.IsNullOrEmpty(info.ShowImage))
                            {
                                <img src="@Html.Raw("http://img.kudongyi.com")@info.ShowImage" width="100" height="100"/>
                            }
                            @Html.RouteLink(info.ProductName, new { controller = "Product", action = "Edit", id = info.ProductId })
                        </div>
                    </td>
                    <td>@(((EnumConst.ProductType)info.ProductType).ToDesc())</td>
                    <td>@info.ViewCount</td>
                    <td>@info.DownCount</td>
                    <td>@(info.IsSale==1?"上架":"下架")</td>
                    <td>@(TimeHelper.LongToTime(info.CreateTime).ToString("yyyy-MM-dd HH:mm"))</td>
                    *@
                </tr>
            }
        </table>
            <div class="pagebox">
                    @MvcHtmlString.Create(ManageMvcPaging.Create(25, ViewBag.Count, 5, false))
            </div>
    </div>
</div>